@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-109px * 9 + 24px * 8))
    }
}

.slide-track {
    animation: scroll 27s linear infinite;
}